In [1]:
from pyspark.sql.session import SparkSession

topic = 'SearchRunPerformed'
spark = SparkSession.builder.getOrCreate()


anonymize = False
#anonymize = True
df = spark.read.format("parquet").load(f"/data/python_search/data_warehouse/dataframes/{topic}")

22/01/08 11:46:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/08 11:46:07 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

# Latest executed

In [2]:
columns = ['key', "query_input", 'shortcut',  "timestamp"]
if anonymize:
    columns.remove('key')

df.orderBy("timestamp", ascending=False).select(columns).toPandas()

,key,query_input,shortcut,timestamp
0,saveclipboardtransformclipboardandregistertogr...,,1,2022-01-08 11:45:19.440
1,project python search run group,,false,2022-01-08 11:44:45.464
2,startsearchrunsearch,,1,2022-01-08 11:44:39.766
3,saveclipboardtransformclipboardandregistertogr...,,1,2022-01-08 11:37:13.607
4,spotifymusicplayer,,1,2022-01-08 11:37:03.839
...,...,...,...,...
2375,startsearchrunsearch,,1,2022-01-03 16:01:04.004
2376,accomplishments in life main doc,,false,2022-01-03 15:59:40.954
2377,startsearchrunsearch,,1,2022-01-03 15:59:36.819
2378,list existing kafka topics local machine,,false,2022-01-03 15:59:14.313
2379,startsearchrunsearch,,1,2022-01-03 15:59:12.611

# Most popular

In [7]:
most_popular = df.groupBy('key').count().orderBy('count', ascending=False)
most_popular = most_popular.drop('key') if anonymize else most_popular
most_popular.toPandas()

                                                key  count
0                              startsearchrunsearch    651
1                                    googlecalendar    176
2                             slackworkgetyourguide    171
3                       inserttoinboxworkflowydmenu    161
4                                spotifymusicplayer    129
..                                              ...    ...
271                   dataproducts meeting doc dsdp      1
272                                githubgygwebsite      1
273  mathieu data products spark clusters document       1
274          great guy for senior in ml engineering      1
275                   gzip encoding python example       1

[276 rows x 2 columns]

 ## most popular searched only

In [39]:
import pyspark.sql.functions as F

most_popular_search = df.filter(F.col("shortcut")  == False)
most_popular_search = most_popular_search.groupBy('key').count().orderBy('count', ascending=False)
most_popular_search.toPandas()

,key,query_input,shortcut,timestamp
0,be data products architecture ranking intervie...,,false,2022-01-06 14:30:00.797
1,tropic to spark 3 main document main migration...,,false,2022-01-05 13:38:41.370
2,tropic to spark 3 main document main migration...,,false,2022-01-05 15:14:09.171
3,managers expectations em engineer manager ion...,,false,2022-01-07 14:33:07.034
4,ml platform plan time allocation tracking ml p...,,false,2022-01-04 08:21:33.872
...,...,...,...,...
396,ranking apm production,,false,2022-01-06 16:42:45.585
397,ranking apm production,,false,2022-01-04 13:45:29.060
398,ranking spinnaker,,false,2022-01-04 09:32:04.245
399,ranking apm production,,false,2022-01-04 10:15:19.184
400,redshift with restart,,false,2022-01-06 16:43:04.827

In [31]:
df.printSchema()

root
 |-- key: string (nullable = true)
 |-- query_input: string (nullable = true)
 |-- shortcut: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)

In [37]:
df.select("shortcut").distinct().toPandas()

  shortcut
0    false
1        1