In [55]:
from pyspark.sql.session import SparkSession

topic = 'mytopic'
topic = 'SearchRunPerformed'


df = spark.read.format("parquet").load(f"/data/python_search/data_warehouse/dataframes/{topic}")

In [60]:
columns = ['key', "query_input", 'shortcut',  "timestamp"]
columns.remove('key')

df.orderBy("timestamp", ascending=False).select(columns).toPandas()

   query_input shortcut               timestamp
0                 false 2022-01-03 16:11:54.701
1                     1 2022-01-03 16:11:51.635
2                 false 2022-01-03 16:11:15.334
3                     1 2022-01-03 16:11:12.090
4                     1 2022-01-03 16:10:58.681
5                     1 2022-01-03 16:10:51.472
6                     1 2022-01-03 16:10:25.221
7                 false 2022-01-03 16:10:23.180
8                     1 2022-01-03 16:10:21.494
9                 false 2022-01-03 16:10:17.308
10                    1 2022-01-03 16:10:14.251
11                    1 2022-01-03 16:10:02.784
12                    1 2022-01-03 16:05:44.479
13                false 2022-01-03 16:02:44.204
14                    1 2022-01-03 16:02:33.076
15                    1 2022-01-03 16:01:04.004
16                false 2022-01-03 15:59:40.954
17                    1 2022-01-03 15:59:36.819
18                false 2022-01-03 15:59:14.313
19                    1 2022-01-03 15:59:12.611