In [91]:
from pyspark.sql.session import SparkSession

topic = 'SearchRunPerformed'

anonymize = False
anonymize = True
df = spark.read.format("parquet").load(f"/data/python_search/data_warehouse/dataframes/{topic}")

In [92]:
columns = ['key', "query_input", 'shortcut',  "timestamp"]
if anonymize:
    columns.remove('key')

df.orderBy("timestamp", ascending=False).select(columns).toPandas()

   query_input shortcut               timestamp
0                     1 2022-01-03 16:35:48.696
1                     1 2022-01-03 16:35:34.245
2                     1 2022-01-03 16:33:15.446
3                     1 2022-01-03 16:33:02.887
4                     1 2022-01-03 16:32:28.512
5                     1 2022-01-03 16:31:51.284
6                     1 2022-01-03 16:31:48.480
7                 false 2022-01-03 16:31:36.118
8                 false 2022-01-03 16:30:48.631
9                 false 2022-01-03 16:30:15.524
10                false 2022-01-03 16:30:02.260
11                    1 2022-01-03 16:29:55.715
12                    1 2022-01-03 16:28:38.848
13                    1 2022-01-03 16:28:29.520
14                    1 2022-01-03 16:28:29.358
15                    1 2022-01-03 16:27:34.891
16                    1 2022-01-03 16:27:31.205
17                    1 2022-01-03 16:27:23.888
18                    1 2022-01-03 16:26:12.864
19                    1 2022-01-03 16:24:34.888
20                    1 2022-01-03 16:24:18.474
21                    1 2022-01-03 16:23:52.430
22                    1 2022-01-03 16:18:53.134
23                false 2022-01-03 16:17:38.852
24                false 2022-01-03 16:17:19.350
25                    1 2022-01-03 16:17:16.300
26                false 2022-01-03 16:17:11.562
27                    1 2022-01-03 16:17:07.478
28                    1 2022-01-03 16:15:45.339
29                false 2022-01-03 16:11:54.701
30                    1 2022-01-03 16:11:51.635
31                false 2022-01-03 16:11:15.334
32                    1 2022-01-03 16:11:12.090
33                    1 2022-01-03 16:10:58.681
34                    1 2022-01-03 16:10:51.472
35                    1 2022-01-03 16:10:25.221
36                false 2022-01-03 16:10:23.180
37                    1 2022-01-03 16:10:21.494
38                false 2022-01-03 16:10:17.308
39                    1 2022-01-03 16:10:14.251
40                    1 2022-01-03 16:10:02.784
41                    1 2022-01-03 16:05:44.479
42                false 2022-01-03 16:02:44.204
43                    1 2022-01-03 16:02:33.076
44                    1 2022-01-03 16:01:04.004
45                false 2022-01-03 15:59:40.954
46                    1 2022-01-03 15:59:36.819
47                false 2022-01-03 15:59:14.313
48                    1 2022-01-03 15:59:12.611

In [93]:
most_popular = df.groupBy('key').count().orderBy('count', ascending=False)
most_popular = most_popular.drop('key') if anonymize else most_popular
most_popular.toPandas()

    count
0      20
1       4
2       3
3       3
4       3
5       2
6       2
7       2
8       1
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1