In [42]:
from pyspark.sql.session import SparkSession

topic = 'SearchRunPerformed'
spark = SparkSession.builder.getOrCreate()


anonymize = False
anonymize = True
df = spark.read.format("parquet").load(f"/data/python_search/data_warehouse/dataframes/{topic}")

# Latest executed

In [43]:
columns = ['key', "query_input", 'shortcut',  "timestamp"]
if anonymize:
    columns.remove('key')

df.orderBy("timestamp", ascending=False).select(columns).toPandas()

     query_input shortcut               timestamp
0                       1 2022-01-08 20:05:05.391
1                       1 2022-01-08 20:05:03.482
2                       1 2022-01-08 20:05:01.200
3                       1 2022-01-08 20:04:50.311
4                       1 2022-01-08 20:04:39.058
...          ...      ...                     ...
2406                    1 2022-01-03 16:01:04.004
2407                false 2022-01-03 15:59:40.954
2408                    1 2022-01-03 15:59:36.819
2409                false 2022-01-03 15:59:14.313
2410                    1 2022-01-03 15:59:12.611

[2411 rows x 3 columns]

# Most popular

In [44]:
most_popular = df.groupBy('key').count().orderBy('count', ascending=False)
most_popular = most_popular.drop('key') if anonymize else most_popular
most_popular.toPandas()

     count
0      659
1      176
2      171
3      165
4      130
..     ...
273      1
274      1
275      1
276      1
277      1

[278 rows x 1 columns]

 ## most popular searched only

In [47]:
import pyspark.sql.functions as F

most_popular_search = df.filter(F.col("shortcut")  == False)
most_popular_search = most_popular_search.groupBy('key').count().orderBy('count', ascending=False)
most_popular_search = most_popular_search.drop('key') if anonymize else most_popular
most_popular_search.toPandas()

     count
0       21
1       11
2       11
3       10
4       10
..     ...
213      1
214      1
215      1
216      1
217      1

[218 rows x 1 columns]

In [31]:
df.printSchema()

root
 |-- key: string (nullable = true)
 |-- query_input: string (nullable = true)
 |-- shortcut: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)

In [37]:
df.select("shortcut").distinct().toPandas()

  shortcut
0    false
1        1