In [18]:
from pyspark.sql.session import SparkSession

topic = 'SearchRunPerformed'
spark = SparkSession.builder.getOrCreate()


anonymize = False
anonymize = True
df = spark.read.format("parquet").load(f"/data/python_search/data_warehouse/dataframes/{topic}")

# Latest executed

In [19]:
columns = ['key', "query_input", 'shortcut',  "timestamp"]
if anonymize:
    columns.remove('key')

df.orderBy("timestamp", ascending=False).select(columns).toPandas()

     query_input shortcut               timestamp
0                       1 2022-01-15 19:51:08.320
1                       1 2022-01-15 19:50:35.284
2                   false 2022-01-15 19:50:18.844
3                       1 2022-01-15 19:50:18.340
4                   false 2022-01-15 19:49:48.260
...          ...      ...                     ...
5184                    1 2022-01-03 16:01:04.004
5185                false 2022-01-03 15:59:40.954
5186                    1 2022-01-03 15:59:36.819
5187                false 2022-01-03 15:59:14.313
5188                    1 2022-01-03 15:59:12.611

[5189 rows x 3 columns]

In [20]:
most_popular = df.groupBy('key').count().orderBy('count', ascending=False)
most_popular = most_popular.drop('key') if anonymize else most_popular
most_popular.toPandas()

     count
0      687
1      422
2      378
3      375
4      328
..     ...
503      1
504      1
505      1
506      1
507      1

[508 rows x 1 columns]

 ## most popular searched only

In [21]:
import pyspark.sql.functions as F

most_popular_search = df.filter(F.col("shortcut")  == False)
most_popular_search = most_popular_search.groupBy('key').count().orderBy('count', ascending=False)
most_popular_search = most_popular_search.drop('key') if anonymize else most_popular_search
most_popular_search.toPandas()

     count
0      328
1       31
2       21
3       17
4       13
..     ...
430      1
431      1
432      1
433      1
434      1

[435 rows x 1 columns]

df.printSchema()