In [7]:
from pyspark.sql.session import SparkSession

topic = 'SearchRunPerformed'
spark = SparkSession.builder.getOrCreate()


anonymize = False
anonymize = True
df = spark.read.format("parquet").load(f"/data/python_search/data_warehouse/dataframes/{topic}")

# Latest executed

In [8]:
columns = ['key', "query_input", 'shortcut',  "timestamp"]
if anonymize:
    columns.remove('key')

df.orderBy("timestamp", ascending=False).select(columns).toPandas()

   query_input shortcut               timestamp
0                     1 2022-01-03 16:52:18.563
1                 false 2022-01-03 16:51:06.905
2                     1 2022-01-03 16:51:03.006
3                     1 2022-01-03 16:50:55.707
4                     1 2022-01-03 16:50:52.430
..         ...      ...                     ...
74                    1 2022-01-03 16:01:04.004
75                false 2022-01-03 15:59:40.954
76                    1 2022-01-03 15:59:36.819
77                false 2022-01-03 15:59:14.313
78                    1 2022-01-03 15:59:12.611

[79 rows x 3 columns]

# Most popular

In [9]:
most_popular = df.groupBy('key').count().orderBy('count', ascending=False)
most_popular = most_popular.drop('key') if anonymize else most_popular
most_popular.toPandas()

    count
0      34
1       5
2       4
3       3
4       3
5       3
6       2
7       2
8       2
9       2
10      2
11      2
12      2
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      1
22      1
23      1
24      1
25      1